{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-success text-white text-center">
                    <h3><i class="bi bi-person-plus"></i> Регистрация</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
                    </form>
                    <hr>
                    <p class="text-center">Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}